$container: (
  "small": 600px,
  "medium": 900px,
  "large": 1280px,
);

@each $breakpoint, $width in $container {
  .container-#{$breakpoint} {
    max-width: $width;
    margin: 0 auto;
  }
}

.relative {
  position: relative;
}
